/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: calc(80vh - 70px);
    background: url("../../images/hero-bg.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero:before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    z-index: 2;
}

#hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.7);
    margin-bottom: 35px;
    font-size: 24px;
}

#hero .btn-get-started {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 4px;
    transition: 0.5s;
    border: 2px solid #fff;
    color: #fff;
}

#hero .btn-get-started:hover {
    border-color: #1bac91;
    background: #1bac91;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #hero {
        margin-top: 60px;
        height: calc(100vh - 60px);
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    #hero h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

/*--------------------------------------------------------------
# Steps
--------------------------------------------------------------*/
.steps {
    padding: 50px 0 40px 0;
}

.steps .row {
    overflow: hidden;
}

.steps .content-item {
    padding: 40px;
    border-left: 1px solid #d4e9e6;
    border-bottom: 1px solid #d4e9e6;
    margin: -1px;
}

.steps .content-item span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #1bac91;
}

.steps .content-item h4 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
    color: #21413c;
}

.steps .content-item p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .steps .content-item {
        padding: 40px 0;
    }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.member .im {
    height: 350px;
}

.team .member {
    text-align: center;
    margin-bottom: 20px;
    background: #343a40;
    position: relative;
    overflow: hidden;
}

.team .member .member-info {
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

.team .member .member-info-content {
    position: absolute;
    left: 50px;
    right: 0;
    bottom: 0;
    transition: bottom 0.4s;
}

.team .member .member-info-content h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}

.team .member .member-info-content span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
}

.team .member .social {
    position: absolute;
    left: -50px;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: left ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.team .member .social a {
    transition: color 0.3s;
    display: block;
    color: #fff;
    margin-top: 15px;
}

.team .member .social a:hover {
    color: #1bac91;
}

.team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}

.team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
    opacity: 1;
    transition: 0.4s;
}

.team .member:hover .member-info-content {
    bottom: 30px;
    transition: bottom 0.4s;
}

.team .member:hover .social {
    left: 0;
    transition: left ease-in-out 0.3s;
}

/* Import your team member images using URLs or paths */

.img-1 {
    background-image: url('../../images/team/team-1.jpg');
    height: 100vh;
}

.img-2 {
    background-image: url('../../images/team/team-2.jpg');
}

.img-3 {
    background-image: url('../../images/team/team-3.jpg');
}

.img-4 {
    background-image: url('../../images/team/team-4.jpg');
}